.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imgdiv {
    overflow: hidden;
}

.profilepic {
    width: 100px;
    padding: 20px;
    position: relative;
    /* border: 1px white solid; */
}

/* .userblock {
    display: flex;
    flex-direction: column;
} */

.rank-score {
    display: flex;
    align-items: center;
    
    
}

.text-bio {
    height: 55%;
    width: 90%;
    margin-right: 100px;
    overflow: scroll;
    margin-top: 12px;
    resize: none;
}

.profile-input {
    margin-right: 8px;
    width: 200px;
    height: 30px;
  appearance: none;
  background-color: #222;
  border: 1px solid white;
  line-height: 0;
  font-size: 12px;
  
  display: block;
  box-sizing: border-box;
  padding: 5px 5px;
  border-radius: 10px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

#profileblocks {
    display: flex;
    /* justify-content: center; */
    background-color: #222;
    margin: 30px;
    width: 75vw;
    height: 30vh;
    /* border: 1px white solid; */
}

.profiletext {
    color: #c9c9c9;
    border: none;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    padding: 10px;
    /* border: 1px white solid; */
    /* border: 1px white solid; */
}

.user-rank {
    width: 80px;
    margin: 5px;
    height: 26px;
    color: white;
    background: transparent;
    border: solid 1px #6795de;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 16px;
    font-family: Oswald;
    text-align: center;
 
}



.edit-profile {
    cursor: pointer;
    width: 95px;
    height: 26px;
    color: white;
    background: transparent;
    border: solid 1px #6795de;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 16px;
    font-family: Oswald;
    text-align: center;
    float: right;
    padding: 1px;
    margin-left: 15px;
    
}

.edit-button {
    /* border: 1px white solid; */
    height: 40px;
    margin: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
}



.edit-profile:hover {
    background: #303030;
}

.user-score {
    width: 80px;
    margin: 5px;
    height: 26px;
    color: white;
    background: transparent;
    border: solid 1px #d3a316;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 16px;
    font-family: Oswald;
    text-align: center;
}

.userinfo {
    display: flex;
    margin-top: 15px;
    align-items: center;
    text-overflow: ellipsis;
    overflow: scroll;
    /* border: 1px white solid; */
    
    
}


.bio {
    
    height: 45%;
    /* max-width: 50vw; */
    margin: 0px 10px;
    width: 90%;
    overflow: scroll;

    /* border: 1px white solid; */
}

.tab {
    border-bottom: 1px solid rgb(161,160,161, .3);
    display: flex;
    height: 45px;
    align-items: center;
    width: 98%;
    margin: 0px 10px;
}

.stat {
    
    margin: 5px 20px;
    height: 26px;
    color: white;
    background: transparent;
    border-bottom: solid 1px #6795de;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
    font-size: 18px;
    font-family: Montserrat;
    text-align: center;
}

.nostat:hover {
    color: lightgray;
}

.nostat {
    margin: 5px 20px;
    height: 26px;
    color: white;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    font-family: Montserrat;
    text-align: center;
}

.statsblock {
    
    display: flex;
    background-color: #222;
    margin: 30px;
    width: 75vw;
    height: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* border: 1px white solid; */
}

.progress-body {
    
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.progress-body h1 {
    color: #6795de;
}

.challenge-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.challenge-body > h1 {
    color: #6795de;
}

.nameddifficulty2 {
    width: 30vw;
    margin: 20px;
}

.completedChallenge {
    border: 1px solid rgb(176,176,176, .5);
    border-radius: 10px;
    height: 12vw;
    background-color: #222;
    width: 68vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px 20px 10px;
    box-shadow: 2px 3px 3px rgb(16, 16, 16);
    
  }

  