.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgdiv {
    overflow: hidden;
}

.profilepic {
    width: 100px;
    padding: 20px;
    position: relative;
}

/* .userblock {
    display: flex;
    flex-direction: column;
} */

.rank-score {
    display: flex;
    align-items: center;
    
    
}

#profileblocks {
    display: flex;
    /* justify-content: center; */
    background-color: #222;
    margin: 30px;
    width: 80vw;
    
}

.profiletext {
    color: #c9c9c9;
    border: none;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    padding: 10px;
    /* border: 1px white solid; */
}

.userinfo {
    display: flex;
    margin-top: 10px;
    
    width: 100%;

}

.bio {
    width: 95%;
    margin: 10px;

    /* border: 1px white solid; */
}
