.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgdiv {
    overflow: hidden;
}

.profilepic {
    width: 100px;
    padding: 10px;
    position: relative;
}

.userblock {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

.rank-score {
    display: flex;
    align-items: center;
    
    
}

#profileblocks {
    display: flex;
    /* justify-content: center; */
    background-color: #222;
    margin: 30px;
    width: 80vw;
    
}

.profiletext {
    color: #c9c9c9;
    border: none;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    padding: 10px;
}

.userinfo {
    display: flex;
}

/* .profile-rank {
    height: 130px;
    width: 100px;
    background-color: #303133;
    margin-right: 30px;
    
}  */