.challengePage{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.instructions{
    width: 600px;
    height: 800px;
    background: #222
}
.codeEditor{
    width: 600px;
    height: 1200px;
    text-align: left;
    padding-top: 400px;
}
.solutionBox{
    width: 540px;
    height: 300px;
    background: #222;
    padding: 30px;
}
.textColor{
    color: #c9c9c9;
}
.passed{
    color: green;
}
.failed{
    color: red;
}
