.aboutsite {
    background-color: #222;
    margin: 0px 30px 0px 30px;
    box-shadow: 2px 3px 3px rgb(16, 16, 16);
}

.techused {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: flex-end;
}

.siteimg {
    width: 7vw;
}
.techtitle {
    padding-top: 10px;
}
.us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.aboutus {
    background-color: #222;
    box-shadow: 2px 3px 3px rgb(16, 16, 16);
}
.thing1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 10vw;
    height: 145px;
}
.techname {
    padding-top: 5px;
}

#resize {
    width: 8vw;
}

#htmlimg {
}