.aboutsite {
    background-color: #222;
    margin: 0px 30px 0px 30px;
    box-shadow: 2px 3px 3px rgb(16, 16, 16);
}

.techused {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: flex-end;
}

.siteimg {
    width: 100px;
}
.techtitle {
    padding-top: 10px;
}
.us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.aboutus {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 450px;
    border: 1.5px solid #4e82d6;
    padding-top: 20px;
    margin-top: 20px;
}
.profileimg {
    width: 200px;
    border-radius: 10%;
    box-shadow: 2px 3px 3px rgb(16, 16, 16);
}
.profilelink {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    background-color: #222;
    color: white;
    border: solid 1px #d3a316;
    border-radius: 4px;
    height: 30px;
    width: 15vw;
    padding: 0px 2px 4px 2px;
    margin: 14px 10px 10px 10px;
}
.profilelink:hover {
    cursor: pointer;
    background-color: #d3a316;
    color: #222;
    font-weight: 550;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thing1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 10vw;
    height: 145px;
}
.techname {
    padding-top: 5px;
}

#resize {
    width: 110px;
}

#htmlimg {
}