.dashboard {
    display: flex;
    flex-direction: column;
}
#blocks {
    background-color: #222;
    margin: 40px;
    margin-left: 300px;
    margin-right: 300px;
}
h1 {
    color: #c9c9c9;
    border: none;
    font-family: Graphik, Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: .08em;
}
