.nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 20px;
    color: #c9c9c9;
    align-items: center;
}
#navbuttons {
    border: none;
    font-family: Graphik, Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.85429em;
    letter-spacing: .08em;
    outline: 0;
    cursor: pointer;
    background-color: #222;
    color: #c9c9c9;
    padding-left: 30px;
    padding-right: 30px;
}

#navbuttons:hover {
    color: rgb(177, 38, 38);
}

#navbuttons:active {
    color: rgb(177, 38, 38);
}

.user-picture {
    height: 34px;
    width: auto;
    border-radius: 4px;
    margin-left: 10px
}

.user-info {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    cursor: pointer;
}

.left-nav {
    display: flex;
    align-items: center;
}

.rank {
    cursor: pointer;
    width: 35px;
    height: auto;
    color: white;
    background: black;
    border: solid 2px white;
    /* border-radius: 4px; */
    font-size: 12px;
    font-family: Oswald;
    margin: 0px 20px;
    transform: skew(-15deg);

}

.nav-logo {
    height: 32px;
    width: auto;
    
}


.score {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.score:hover {
    color: rgb(177, 38, 38);
}

